<?xml version="1.0" ?>
<robot name="suture_pad">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="cut.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="cut.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>